*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
body{
    
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom left,#233329,#63D471);
}

.calculator-grid{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator-grid > button{
    cursor: pointer;
    border: 2px rgba(0, 0,0, 0.60) solid;
    background-color: rgba(0, 0,0, 0.50);;
    color: white;

}

.calculator-grid > button:hover{
    border: 2px rgba(79, 255, 25, 0.6) solid;
    background-color: rgba(0, 0,0, 0.95);;
    color:rgb(79, 255,25);

}

.rectangle_buttons{
    grid-column: span 2;

}

.display{
    grid-column: 1/-1;
    background-color: rgba(0, 0,0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand{
    color:rgba(255, 255, 255, 0.50) ;
}

.display .current-operand{
    color:rgba(255, 255, 255, 0.90) ;
}
